{% extends "base.html" %}

{% block title %}Подробности файла{% endblock title %}

{% block content %}
<div class="container mt-4">
  <p>
    <a href="{% url 'files:files_history' %}" class="btn btn-info">Вернуться к истории файлов</a>
  </p>
  <h1>Подробности файла</h1>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Имя файла</th>
        <td>{{ file }}</td>
      </tr>
      <tr>
        <th>Состояние файла</th>
          <td>
              {% if file.file_state == "new" %}
                  Новый
              {% elif file.file_state == "reload" %}
                  Перезаписан
              {% else %}
                  {{ file.file_state }}
              {% endif %}
          </td>
      </tr>
      <tr>
        <th>Оповещение</th>
        <td>
            {% if file.notification %}
              <span class="text-success">&#10003; Отправлено</span>
            {% else %}
              <span class="text-danger">&#10007; Не отправлено</span>
            {% endif %}
          </td>
      </tr>
      <tr>
        <th>Дата загрузки</th>
        <td>{{ file.uploaded_date }}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <a href="{% url 'files:file_reload' file.pk %}" class="btn btn-primary">Перезаписать</a>
    <a href="{% url 'files:file_delete' file.pk %}" class="btn btn-danger">Удалить</a>
  </div>

{% if file.errors %}
  <div class="alert alert-danger mt-3">
    <h4 class="alert-heading">Ошибки</h4>
    <ul>
      {% for error in errors %}
          <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>
{% endblock %}