{% extends "base.html" %}

{% block title %}История файлов{% endblock title %}

{% block content %}
<div class="container mt-4">
  <h1>История файлов</h1>
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Файл</th>
        <th scope="col">Состояние файла</th>
        <th scope="col">Оповещение</th>
        <th scope="col">Дата загрузки</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr class="{% if file.errors %}table-danger{% endif %}">
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <a href="{% url 'files:file_detail' file.pk %}">{{ file }}</a>
          </td>
            <td>
                {% if file.file_state == "new" %}
                    Новый
                {% elif file.file_state == "reload" %}
                    Перезаписан
                {% else %}
                    {{ file.file_state }}
                {% endif %}
            </td>
          <td>
            {% if file.notification %}
              <span class="text-success">&#10003; Отправлено</span>
            {% else %}
              <span class="text-danger">&#10007; Не отправлено</span>
            {% endif %}
          </td>
          <td>{{ file.uploaded_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}